@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Raleway";
    background-color: black;
    color: white;
}

header {
    text-align: center;
    background-color: transparent;
}


header h1 {
    font-size: 50px;
    text-align: center;
}

header img {
    width: 1280px;
    height: 727px;
}

.descripcion {
    text-align: left;
    display: flex;
    width: 1200px;
    height: 348px;
}

.descripcion img {
   margin-inline: 106px;
   width: 399px;
   height: 237px;
   margin-top: 45px;
   margin-right: 150px;
}

.descripcion p {
    width: 475px;
    height: 197px;
    margin-left: 150px;
    margin-top: 76px;
    font-size: 16px;
}


.caracteristicas {
    background-color: #1E1A13;
    width: 1280px;
    height: 348px;
}
.caracteristicas h2 {
    border-top: 75px;
    text-align: center;
    font-size: 40px;
    padding-top: 75px;
}

.logo1 {
    width: 57px;
    height: 36.64px;
    margin-top: 50px;
    margin-left: 326px;
}

.logo2 {
    width: 39.17px;
    height: 55.8px;
    margin-top: 50px;
    margin-left: 237.41px;
}

.logo3 {
    width: 40.93px;
    height: 48.61px;
    margin-top: 50px;
    margin-left: 255.66px;
}

.caracteristicas_p {
    display: flex;
}

.p1 {
    font-size: 25px;
    margin-top: 16px;
    margin-left: 301px;
}

.p2 {
    font-size: 25px;
    margin-top: 16px;
    margin-left: 182px;
}

.p3 {
    font-size: 25px;
    margin-top: 16px;
    margin-left: 145.88px;
}

.container-iguanas {
    margin-top: 73px;
    margin-bottom: 73px;
}

.container-iguanas img {
    text-align: center;
    width: 316px;
    height: 202px;
}
 .img2 {
    margin-left: 95px;
 }

 .img3 {
    margin-left: 16px;
 }

 .img4 {
    margin-left: 16px;
    margin-right: 150px;
 }

 .footer {
    background-color: #1E1A13;
    font-size: 20px;
    width: 1280px;
    height: 102px;
 }

 .footer p {
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;
 }